@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

$accentColor: #FDAA68;

h1,h2,h3 {
  font-weight: 600;
}

.nav-logo {
  max-width: 112px;
}

.bottom-shadow {
  box-shadow: 0px 2px 1px rgba(0,0,0,.2);
}

.white-bg {
  background: $white;
}

.quote-image {
  // max-height: 320px;
  // max-width: 380px;
  margin-bottom: 2rem;
}

.section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

h2 {
  text-transform: uppercase;
  color: $accentColor;
  font-weight: 600;
}

.slide-1 {
  background: url('../img/bacon.jpg');
}

.slide-2 {
  background: url('../img/royal.jpg');
}

.slide-3 {
  background: url('../img/frenchtoast.jpg');
}

.slide {
  height: 80vh;
  background-size: cover;
  background-position: center;
}

.hero-content-container {
  background: rgba(0,0,0,.5);
  height: 80vh;
  display: flex;
  color: #EEE6E6;
}

.hero-content {
  margin: auto;
  text-align: center;

  h1 {
    text-transform: uppercase;
  }
}

.our-story {
  background: url('../img/diningroom.jpg');
  background-position: center;
  background-size: cover;
}

.story-content {
  padding-top: 5rem;
  height: 80vh;
  color: #EEE6E6;
  z-index: 1;
  position: relative;
}

.story-image {
  padding-top: 5rem;
}

.shade-50 {
  height: 80vh;
  width: 50%;
  position: absolute;
  background: rgba(0,0,0,.5);
}

.frame {
  background: $white;
  padding: 5px;
  max-width: 400px;
}

.d-ib {
  display: inline-block;
}

.va-m {
  vertical-align: middle;
}

.flex {
  display: flex;
}

.flex-align-center {
  align-items: center;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-grow-1-medium {
  @include breakpoint(medium) {
      flex-grow: 1;
  }
}

.tr {
  text-align: right;
}

.tc {
  text-align: center;
}

.tc-small {
  text-align: center;
  @include breakpoint(medium) {
    text-align: left;
  }
}

.mw-32px {
  max-width: 32px;
}

.w-25-small {
  width: 25%;
  @include breakpoint(medium) {
    width: auto;
  }
}

.w-50-small {
  width: 50%;
  @include breakpoint(medium) {
    width: auto;
  }
}

// Turn hamburger black
.menu-icon::after {
    background: $accentColor;
    box-shadow: 0 7px 0 $accentColor,0 14px 0 $accentColor;
}

.menu-link {
  color: #000;

  &:hover {
    color: $accentColor;
  }
}
